        <!--<img src="/img/CSUMBLogo.jpg" alt="csumb logo"/>-->
        <br>
        CST 336: Internet Programming &copy; 2020, Christian Jimenez <br/>
        <strong>Disclaimer:</strong> The information in this page might be innacurate.
        <br>
    </body>
</html>